*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.logo h2 {
    font-size: 40px;
    line-height: 1.8em;
    letter-spacing: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li  a {
    text-decoration: none;
    color: #555;
    font-size: 16px;
    padding: 8px 15px;
    transition: all 0.5s ease;
}

nav ul li a:hover{
    font-size: 17px;
    color: wheat;
    background-color: #555;
    border-radius: 10px;
}

p{
    color: #555;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

/* Styling text and image in the same row */
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

/*End of styling */

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background-color: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s;
}

.btn:hover{
    background-color: #563434;
}

.header {
    background: radial-gradient(#fff, #ffd6d6);
}

.header .row{
    margin-top: 70px;
}

.categories {
    margin: 70px 0;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;
}


/* Recommended */
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 240px;
    margin-bottom: 50px;
    transition:  0.5s;
}

.col-4 img {
    width: 100%;
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
    font-size: 25px;
}

.title::after{
    content: "";
    background-color: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

h4 {
    color: #555;
    font-weight: normal;
}

.col-4 p {
    font-size: 14px;
}

.col-4:hover{
    transform: translateY(-5px);
}

/* Footer */

.footer {
    background-color: black;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p {
    color: #8a8a8a;
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;

}

.footer-col-1 {
    flex-basis: 30%;

}

.footer-col-2 {
    flex: 1;
    text-align: center; 
}

.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}

.footer-col-3 ul li {
    padding-bottom: 10px;
}

.footer-col-3 ul a {
    text-decoration: none;
    color: #b5b5b5;
    padding: 8px 15px;
    transition: all 0.5s ease;
   
}

.footer-col-3 ul a:hover{
    background-color: rgb(41, 39, 39);
    color: wheat;
    border-radius: 10px;
}

.footer-col-4 ul li {
    padding-bottom: 10px;
}

.footer-col-4 ul a {
    text-decoration: none;
    color: #b5b5b5;
    padding: 8px 15px;
    transition: all 0.5s ease;

}

.footer-col-4 ul a:hover{
    background-color: rgb(41, 39, 39);
    color: wheat;
    border-radius: 10px;
}



ul{
    list-style-type: none;
}

.app-logo{
    margin-top: 20px;
}

.app-logo img{
    width: 140px;
    cursor: pointer;
}

.footer hr {
    border: none;
    background-color: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright{
    text-align: center;
}